A:link {
	COLOR: #00ffff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #00ffff; TEXT-DECORATION: none
}
A:active {
	COLOR: #7cfc00; TEXT-DECORATION: underline overline
}
A:hover {
	COLOR: #7cfc00; TEXT-DECORATION: underline overline
}
BODY {
	SCROLLBAR-FACE-COLOR: #7380b9; SCROLLBAR-SHADOW-COLOR: black; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: black; SCROLLBAR-ARROW-COLOR: white; SCROLLBAR-TRACK-COLOR: #3d598b; SCROLLBAR-DARKSHADOW-COLOR: #505050; BACKGROUND-COLOR: #3d598f
}
.osdn-search {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, sans-serif
}
.osdn-button {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 1px
}
SELECT.osdn-search {
	TEXT-ALIGN: center
}
.osdn-navtext {
	FONT-SIZE: 10px; COLOR: #777777; FONT-FAMILY: verdana, arial, sans-serif
}
SMALL.osdn-navtext {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, sans-serif
}
.osdn-foottext {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: verdana, arial, sans-serif; TEXT-ALIGN: center
}
.textnormal {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.textgras {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.textpetit {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.textpetit2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.textminus {
	FONT-WEIGHT: normal; FONT-SIZE: 1px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.texttitre {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.textlexi {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.menu {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #b3cfeb; BACKGROUND: #c7dcfe; BORDER-BOTTOM-COLOR: #b3cfeb; COLOR: red; BORDER-TOP-COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; BORDER-RIGHT-COLOR: #3e4e6b
}
.menu2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #b3cfeb; BACKGROUND: #3d599b; BORDER-BOTTOM-COLOR: #b3cfeb; COLOR: white; BORDER-TOP-COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; BORDER-RIGHT-COLOR: #3e4e6b
}
.menu3 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #b3cfeb; BACKGROUND: #c7dcfe; BORDER-BOTTOM-COLOR: #b3cfeb; COLOR: #00008b; BORDER-TOP-COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; BORDER-RIGHT-COLOR: #3e4e6b
}
.menu4 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #b3cfeb; BACKGROUND: #c7dcfe; BORDER-BOTTOM-COLOR: #b3cfeb; COLOR: #00008b; BORDER-TOP-COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; BORDER-RIGHT-COLOR: #3e4e6b
}
.but {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #3d599b
}
.but2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #838b8b
}
#menu {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 12px; VISIBILITY: hidden; BORDER-LEFT: 1px solid; WIDTH: 230px; CURSOR: default; LINE-HEIGHT: 18px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, helv, sans-serif; POSITION: absolute; BACKGROUND-COLOR: #3d599b
}
.menuitems {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, helv, sans-serif
}
.menuitems2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 10px; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, helv, sans-serif; BACKGROUND-COLOR: #453e84
}
