body { background-color: #000000; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; scrollbar-face-color:#000000; scrollbar-arrow-color: #808080; scrollbar-track-color: #808080; scrollbar-3dlight-color: #808080; scrollbar-darkshadow-color: #808080 }
a:link { color: #FFFFFF }
a:visited { color: #FFFFFF }
a:active { color: #FFFFFF }
p { text-align: justify }
p.image{ text-align: center}
li { text-align: justify }
h1 { text-align: center }